.navbar-default.sidebar{ role: 'navigation' }
  .sidebar-nav.navbar-collapse.collapse
    %ul#side-menu.nav
      %li.sidebar-search
        .input-group.custom-search-form
          %input.form-control{ type: "text", placeholder: "Search..." }
          %span.input-group-btn
            %button.btn.btn-default{ type: "button" }
              %i.fa.fa-search
      %li
        %a{ href: '/' }
          %i.fa.fa-dashboard.fa-fw
          | Dashboard
      %li
        %a{ href: '#' }
          %i.fa.fa-money.fa-fw
          | Costs
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            %a{ href: '/costs' } Costs list
          %li
            %a{ href: '/costs/new' } Add new cost
      %li
        %a{ href: '/dashboard/sample' }
          %i.fa.fa-camera.fa-fw
          | Sample Dashboard
