.navbar-default.sidebar{ role: 'navigation' }
  .sidebar-nav.navbar-collapse.collapse
    %ul#side-menu.nav
      %li.sidebar-search
        .input-group.custom-search-form
          %input.form-control{ type: "text", placeholder: "Search..." }
          %span.input-group-btn
            %button.btn.btn-default{ type: "button" }
              %i.fa.fa-search
      %li
        %a{ href: '/' }
          %i.fa.fa-dashboard.fa-fw
          | Dashboard
      %li
        %a{ href: '#' }
          %i.fa.fa-money.fa-fw
          = t(:costs)
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            = link_to t(:costs_list), costs_path
          %li
            = link_to t(:add_new_cost), new_cost_path
      %li
        %a{ href: '#' }
          %i.fa.fa-money.fa-fw
          | Cost categories
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            %a{ href: cost_categories_path } Cost categories list
          %li
            %a{ href: new_cost_category_path } Add new cost category
      %li
        %a{ href: '/dashboard/sample' }
          %i.fa.fa-camera.fa-fw
          | Sample Dashboard
