.row
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-eur.fa-5x
          .col-xs-9.text-right
            .huge 2600
            %div New Comments!
      %a{ href: '#' }
        .panel-footer
          %span.pull-left View Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-usd.fa-5x
          .col-xs-9.text-right
            .huge 9600
            %div New Tasks!
      %a{ href: '#' }
        .panel-footer
          %span.pull-left View Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-bitcoin.fa-5x
          .col-xs-9.text-right
            .huge 91
            %div New Orders!
      %a{ href: '#' }
        .panel-footer
          %span.pull-left View Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-ruble.fa-5x
          .col-xs-9.text-right
            .huge 0
            %div Support Tickets!
      %a{ href: '#' }
        .panel-footer
          %span.pull-left View Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
